<h1>New Flat</h1>

<%= simple_form_for(@flat) do |f| %>
  <div class="mb-3">
    <%= f.input :name, required: true, input_html: { class: 'form-control' } %>
  </div>

  <div class="mb-3">
    <%= f.input :address, required: true, input_html: { class: 'form-control' } %>
  </div>

  <div class="mb-3">
    <%= f.input :description, as: :text, required: true, input_html: { class: 'form-control', rows: 5 } %>
  </div>

  <div class="mb-3">
    <%= f.input :price_per_night, required: true, input_html: { class: 'form-control', min: 0 } %>
  </div>

  <div class="mb-3">
    <%= f.input :number_of_guests, required: true, input_html: { class: 'form-control', min: 1 } %>
  </div>

  <%= f.button :submit, 'Create Flat', class: 'btn btn-primary' %>
  <%= link_to 'Back', flats_path, class: 'btn btn-secondary ms-2' %>
<% end %>
